
@font-face {
    font-family: 'Ailerons';
    src: url('../fonts/Ailerons-Typeface.eot');
    src: url('../fonts/Ailerons-Typeface.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ailerons-Typeface.woff2') format('woff2'),
         url('../fonts/Ailerons-Typeface.woff') format('woff'),
         url('../fonts/Ailerons-Typeface.ttf')  format('truetype'),
         url('../fonts/Ailerons-Typeface.otf') format('otf'); 
}

.col-9 {
    align-content: center;
}